clouds:
  mycloud:
      auth:
        username: {{ nodepool_os_username }}
        password: {{ nodepool_os_password }}
        project_name: {{ nodepool_os_project_name }}
        auth_url: {{ nodepool_os_auth_url }}
        project_domain_id: {{ nodepool_os_project_domain_id }}
        user_domain_id: {{ nodepool_os_user_domain_id }}
      region_name: {{ nodepool_os_region_name }}
